/*
Created by Blake Weissman
  Colors:
    #ffffff
    #242424
*/

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  font-weight: 300;
}

p {
  line-height: 22px;
  font-size: 14px;
}

a {
  cursor: pointer;
  font-weight: 440;
}

.color-light {
  color: #ffffff
}

.color-dark {
  color: #242424;
}

.background-light {
  background: #ffffff;
}

.background-dark {
  background: #242424;
}

.text-center {
  text-align: center;
}

a.button1 {
  border: 1px solid #242424;
  padding: 8px 20px;
  margin-top: 24px;
  transition: all 0.2s ease;
  text-transform: uppercase;
  color: #242424;
  font-size: 14px;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  line-height: 51px;
}

a.button1:hover {
  color: #ffffff !important;
  background: #242424 !important;
  border: 1px solid #242424;
}

a.button2 {
  border: 1px solid #ffffff;
  padding: 8px 20px;
  margin-top: 24px;
  transition: all 0.2s ease;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  line-height: 51px;
}

a.button2:hover {
  color: #ffffff !important;
  background: #242424 !important;
  border: 1px solid #242424;
}

.app {
  
}

.wrap {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
}

/*header*/
div.app-header {
  height: 75px;
  transition: all 0.2s ease;
  position: fixed;
  width: 100%;    
  z-index: 2;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  display: flex;
}

div.app-header-wrap {
  margin-top: auto;
  margin-bottom: auto;
}

/*display*/
div.app-display {
  padding-top: 105px;
  min-height: 100vh; 
  flex-wrap: wrap;
}

/*card*/
div.card {
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 1px solid #242424;
  margin-right: 30px;
  margin-bottom: 30px;
  height: 415px;
}

div.card-image {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  margin-bottom: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

div.card-wrap {
  margin: 15px 25px;
}

h2.card-content {
  padding-bottom: 3px;
}

h3.card-content {
  padding-bottom: 3px;
}

p.card-content {
  padding-bottom: 3px;
}